* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    gap: 25px;
    height: 500px;
    width: 500px;
    padding: 0 25px;
    margin: 0 auto;
}

.first-row {
    display: flex;
    height: 100px;
    flex-basis: 100%;
    gap: 25px;
}

.second-row, .third-row, .fourth-row, .fifth-row, .sixth-row {
    display: flex;
    height: 75px;
    flex-basis: 100%;
    gap: 25px;
}

.button, .button-num, .button-oper, .button-dec {
    height: 80px;
    width: 93px;
    border: solid black 1.5px;
    background-color: #A9A9A9;
    color: blue;
    text-align: center;
    font-size: 70px;
}

.display {
    width: 100%;
    height: 100px;
    border: solid black 1.5px;
    color: blue;
    background-color: #A9A9A9;
    text-align: right;
    font-size: 90px;
}